<div class="skyrim-lockpicking-app">
  <div class="info">Осталось отмычек: <span class="picks-count">{{picksCount}}</span></div>

  <div class="canvas-container">
    <canvas class="lockpicking-canvas" width="400" height="400"></canvas>
  </div>

  <div class="controls">
    Управление: <strong>Движение мыши</strong> — угол отмычки | Зажатие <strong>A / D</strong> — поворот замка
  </div>
</div>
