<div class="lockpicking-minigame-app">
  <div class="info">{{picksLabel}} <span class="picks-count">{{picksCount}}</span></div>
  <div class="skill-info">{{skillLine}}</div>

  <div class="canvas-container">
    <canvas class="lockpicking-canvas" width="400" height="400"></canvas>
  </div>

  <div class="controls">{{{controlsHint}}}</div>
</div>
